.red {
  color:red;
}

.container{
    flex-wrap:wrap;
}

header {
  padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

li {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: white;
  background-color: #111;
  text-decoration: none;
}

#submit {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

#submit:hover{
  background-color: #111;
  color: white;   
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.0rem;            /* Footer height */
  padding: 15px;
}

#site-title {
  letter-spacing: 2px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

