<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Edit Profile</title>

</head>

<body>
    <div class="nav-portal-container">
        <div class="Store-Logo">
            <header style="text-align: left;">

                <a href="/Home.html" style="color:black; text-decoration: none; font-family:Arial">
                    <h1>SNEAKERS R US</h1>
                </a>
            </header>
        </div>

        <div>
            <nav class="nav-Home/Browse/Sell" style="text-align: left">


                <a class="Home" href="/Home.html" style="color:black; text-decoration: none;
                            font-family:Arial; border-right:solid 1px black">Home</a>

                <a class="Browse" href="/Browse.html" style="color:black; text-decoration: none;
                            font-family:Arial; border-right:solid 1px black">Browse</a>

                <a class="Sell" href="/Sell.html" style="color:black; text-decoration: none; 
                            font-family:Arial">Sell</a>

            </nav>

            <nav class="nav-profile/dashbord" style="text-align: right">

                <a class="Profile" href="/Profile.html" style="color:black; text-decoration: none;
                            font-family:Arial; border-right:solid 1px black">Profile</a>

                <a class="Dashboard" href="/Dashboard.html" style="color:black; text-decoration: none;
                            font-family:Arial">Dashboard</a>

            </nav>

        </div>

        <div class="profile-title">
            <h2 style="text-align: center; color:black; font-family:Arial">Edit Profile</h2>
        </div>

        <div>
            <form action="/editProfile" style="text-align: center" method="POST">
                <div class="form-group row">
                    <label for="firstName" class="col-3 col-form-label">
                        First Name</label>
                    <div class="col-9">
                        <input type="text" name="firstName" id="firstName" class="form-control" th:value="${user.firstname}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastName" class="col-3 col-form-label">
                        Last Name</label>
                    <div class="col-9">
                        <input type="text" name="lastName" id="lastName" class="form-control" th:value="${user.lastname}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="DOB" class="col-3 col-form-label">
                        Date Of Birth</label>
                    <div class="col-9">
                        <input type="date" name="DOB" id="DOB" class="form-control" th:value="${user.dateofbirth}" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="phone" class="col-3 col-form-label">
                        Phone</label>
                    <div class="col-9">
                        <input type="text" name="phone" id="phone" class="form-control"  th:value="${user.phone}" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-3 col-form-label">
                        Email</label>
                    <div class="col-9">
                        <input type="email" name="email" id="email" class="form-control" th:value="${user.email}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="address" class="col-3 col-form-label">
                        Address</label>
                    <div class="col-9">
                        <input type="text" name="address" id="address" class="form-control"  th:value="${user.address}" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-3 col-form-label">
                        Password</label>
                    <div class="col-9">
                        <input type="password" name="password" id="password" class="form-control" />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">
                    Confirm</button>
            </form>
        </div>

    </div>






    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>