<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >

    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
                    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/home.css}" />

                    <title>Browse</title>

                    </head>

                    <body>
                        <div class="container">
                            <div>
                                <header style="text-align: left;">

                                    <a href="/home" style="color:black; text-decoration: none; font-family:Arial">
                                        <h1>SNEAKERS R US</h1>
                                    </a>
                                </header>
                            </div>
                            <div class="row">
                                <nav role="navigation">
                                    <div class="col text-align: left m-3">
                                        <a href="/home" style="color:black; text-decoration: none;
                                           font-family:Arial; border-right:solid 1px black">Home</a>

                                        <a href="/sell" style="color:black; text-decoration: none; 
                                           font-family:Arial">Sell</a>
                                    </div>
                                </nav>
                            </div>

                            <div sec:authorize="!isAuthenticated()" style="text-align: right">

                                <nav role="login/sign-up">
                                    <div class="col text-align: right m-2">
                                        <a href="/login" style="color:black; text-decoration: none;
                                           font-family:Arial; border-right:solid 1px black">Login</a>


                                        <a href="/createProfile" style="color:black; text-decoration: none;
                                           font-family:Arial">Sign-Up</a>

                                    </div>
                                </nav>

                            </div>

                            <div sec:authorize="isAuthenticated()" style="text-align: right">

                                <nav role="profile/dashbord">
                                    <div class="col text-align: right m-2">


                                        <a href="/dashboard" style="color:black; text-decoration: none;
                                           font-family:Arial">Dashboard</a>
                                        <form class="form-inline" 
                                              method="POST" 
                                              action="/logout">
                                            <input type="hidden" 
                                                   th:name="${_csrf.parameterName}" 
                                                   th:value="${_csrf.token}"/>
                                            <label for="submit">
                                                Hello:&nbsp; <span th:text="${#authentication.name}">
                                                </span>&nbsp;&nbsp;&nbsp;|
                                            </label>
                                            <button class="btn btn-link" 
                                                    id="submit" 
                                                    type="submit">Logout</button>
                                        </form>
                                    </div>
                                </nav>

                            </div>

                            <div style="text-align: center; color:black; font-family:Arial">
                                <h2>Browse</h2>
                            </div>

                            <div class="as-seen-on-browse">

                                <div class="row">
                                    <div class="col-md-3 col-xs-12 side-filters hidden-xs hidden-sm">
                                        <div class="sideNavigation">
                                            <div style="margin-bottom: 40px;">
                                                <div class="categoryOption" th:each="brand : ${brands}">
                                                    <div 
                                                        th:attr="onclick=|toggleBrand('${brand.name}')|" 
                                                        th:text="${brand.name}"
                                                        th:classappend="${params.get('brand') == brand.name}?@{red}"></div>
                                                </div>                                                
                                            </div>
                                            <!-- TODO: get all models for selected brand or all models -->
                                            <div style="margin-bottom: 40px;">
                                                <div class="categoryOption" th:each="color : ${colors}">
                                                    <div th:attr="onclick=|toggleColor('${color.name}')|" 
                                                         th:text="${color.name}"
                                                         th:classappend="${params.get('color') == color.name}?@{red}"></div>
                                                </div>  
                                            </div>
                                            <div style="margin-bottom: 40px;">
                                                <div class="categoryOption" th:each="size : ${sizes}">
                                                    <div th:attr="onclick=|toggleSize('${size.shoeSize}')|" 
                                                         th:text="${size.shoeSize}"
                                                         th:classappend="${#strings.equals(params.get('size'), #strings.toString(size.shoeSize))}?@{red}"></div>
                                                </div>  
                                            </div>
                                            <div style="margin-bottom: 40px;">
                                                <div class="categoryOption" th:each="type: ${types}">
                                                    <div th:attr="onclick=|toggleType('${type.name}')|" 
                                                         th:text="${type.name}"
                                                         th:classappend="${params.get('type') == type.name}?@{red}"></div>
                                                </div>  
                                            </div>
                                            <div style="margin-bottom: 40px;">
                                                <div class="categoryOption" th:each="shoeCondition : ${shoeConditions}">
                                                    <div th:attr="onclick=|toggleShoeCondition('${shoeCondition.name}')|" 
                                                         th:text="${shoeCondition.name}"
                                                         th:classappend="${params.get('shoeCondition') == shoeCondition.name}?@{red}"></div>
                                                </div>  
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="hidden-xs hidden-sm">
                                            <div id="browse-toggle" th:data-params="${params}">
                                                <script th:inline="javascript">
                                                    /*<![CDATA[*/

                                                    var params = /*[[${params}]]*/ 'query here';

                                                    /*]]>*/
                                                </script>
                                            </div>
                                        </div> 
                                        <div id="products-container" >
                                            <div class="card-group">
                                                <div class ="row">
                                                    <div class="col-md-3" th:each="shoe,iter: ${shoes}">
                                                        <div class="card" >
                                                            <a href="#" th:href="${'/listing/'+shoe.id}">
                                                                <img th:if="${shoe.photoPath!=null}" th:src="@{${shoe.photoPath}}"
                                                                     style="height: 90%; width: 90%; object-fit: contain"/>
                                                                <div class="card-body">
                                                                    <h5 class="card-title" th:text="${shoe.model.brand.name}+' '+${shoe.model.name}"></h5>

                                                                    <div class="content"th:utext="${shoe.description}"
                             ></div>
                                                                    <h6 class="card-title" th:text="'$'+${shoe.buyNowPrice}"></h6>
                                                                </div>
                                                            </a>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                        crossorigin="anonymous"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                        crossorigin="anonymous"></script>
                        <script type="text/javascript" th:src="@{/js/home.js}"></script>

                    </body>

                    </html>